body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
   overflow-x: hidden ;

}

.container {
    background: #282828;
    width: 100vw;
    border-top: 5px solid rgb(255, 20, 147);

}

.header {
    height: 45vh;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  

}

.header img {
    width: 100vw;
    background: cover;
 


}

.perfil {
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
    width: 80%;
  
    /*position: relative;*/
    display: flex;
    flex-direction: column;

}

.foto-perfil {
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;

}

.foto-perfil img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(255, 20, 147);
    border-radius: 50%;

}



.foto-perfil img:hover {
    border: 5px solid red;
    cursor: pointer;

}

.foto-perfil2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;

}

.foto-perfil2 img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(255, 20, 147);
    border-radius: 50%;

}

.foto-perfil2 img:hover {
    border: 5px solid blue;
    cursor: pointer;

}


#secsu {
    width: 100px;
    height: 100px;
    background-color: #282828;
}


.dados-perfil {
    margin-left: auto;
    margin-right: auto;
    background-color: #282828;
    width: 80%;
}

.nick-name {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;


}

.link-perfil {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

.bios {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

.gostos {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.lista-gostos {
    list-style: none;

    text-align: center;
margin-left: auto;
    margin-right: auto;
display: flex;
}
.lista-gostos img{
    width: 20px;
    padding-right: 5px;


}

.lista-gostos li {
    width: 50%;
    margin-top: 20px;
    border: 2px solid rgb(139,0,139);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;

}
.redes-sociais{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.redes-sociais img{
    cursor: pointer;
    padding: 10px;
    
}

ul li {
    list-style: none;
    display: inline-block;
}

p{
    padding: 0;
    margin: 0;
}

.ft{
    display: flex;
    background-color: #282828;
    color: white;
   
}

.ft-overanimes{
    width: 100px;


}

.ft img{
    margin-top: -30px;
    width: 180px;
 
}

.p-footer p{

  margin-left: 100px;

}